@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-lexend: "Lexend", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-light: #faf9f6; /* off white */
  --color-dark: #090b16;
}

#permalink {
  @apply no-underline;
}

html,
body {
  font-family: var(--font-lexend);
  scroll-behavior: smooth;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.layout-default {
  @apply py-6 md:py-6 px-4 md:px-6 mx-auto flex-2/3 w-full;
}

.prose-overrides {
  @apply prose-headings:text-gray-900 dark:prose-headings:text-slate-300 prose-p:text-gray-900 dark:prose-p:text-slate-300 prose-a:text-gray-900 dark:prose-a:text-slate-300 md:prose-lg prose-a:decoration-blue-500 underline-offset-3;
}

.hover-effect {
  @apply shadow-2xs md:shadow-sm dark:shadow-lg hover:shadow-xl dark:sm:hover:shadow-indigo-500/20 transition duration-500;
}

.button {
  @apply min-w-40 md:min-w-52 md:text-lg font-semibold tracking-tight rounded-lg me-2 mb-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800;
}
